In [1]:
import pandas as pd

transacciones = pd.read_csv("transacciones_limpias.csv")
clientes = pd.read_csv("clientes_limpios.csv")

# Unir los datasets por la columna "id"
clientes_transacciones = pd.merge(transacciones, clientes, on="id", how="left")  # Mantiene todos los clientes

# Ver los primeros registros para confirmar la unión
print(clientes_transacciones.head())

                                         id       fecha comercio  \
0  91477f382c3cf63ab5cd9263b502109243741158  02/01/2022   AMAZON
1  91477f382c3cf63ab5cd9263b502109243741158  05/01/2022    RAPPI
2  91477f382c3cf63ab5cd9263b502109243741158  05/01/2022    RAPPI
3  91477f382c3cf63ab5cd9263b502109243741158  05/01/2022   AMAZON
4  91477f382c3cf63ab5cd9263b502109243741158  05/01/2022   AMAZON

                                giro_comercio tipo_venta  monto  \
0  COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET)    digital   5.99
1   SERVICIOS_EMPRESARIALES_-_NO_CLASIFICADOS    digital  13.01
2   SERVICIOS_EMPRESARIALES_-_NO_CLASIFICADOS    digital  15.84
3  COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET)    digital   8.17
4  COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET)    digital   2.54

  fecha_nacimiento  fecha_alta  id_municipio  id_estado  tipo_persona  genero  \
0       21/09/1987  28/10/2019       6519019         19             0       1
1       21/09/1987  28/10/2019       6519019         19             0       1
2       21/09/1987  28/10/2019       6519019         19             0       1
3       21/09/1987  28/10/2019       6519019         19             0       1
4       21/09/1987  28/10/2019       6519019         19             0       1

         actividad_empresarial  tiempo_apertura fecha_nacimiento_dt  edad
0  PROFESIONISTA INDEPENDIENTE                5          1987-09-21    37
1  PROFESIONISTA INDEPENDIENTE                5          1987-09-21    37
2  PROFESIONISTA INDEPENDIENTE                5          1987-09-21    37
3  PROFESIONISTA INDEPENDIENTE                5          1987-09-21    37
4  PROFESIONISTA INDEPENDIENTE                5          1987-09-21    37

In [2]:
clientes_transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337998 entries, 0 to 337997
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     337998 non-null  object
 1   fecha                  337998 non-null  object
 2   comercio               337998 non-null  object
 3   giro_comercio          337998 non-null  object
 4   tipo_venta             337998 non-null  object
 5   monto                  337998 non-null  float64
 6   fecha_nacimiento       337998 non-null  object
 7   fecha_alta             337998 non-null  object
 8   id_municipio           337998 non-null  int64
 9   id_estado              337998 non-null  int64
 10  tipo_persona           337998 non-null  int64
 11  genero                 337998 non-null  int64
 12  actividad_empresarial  337998 non-null  object
 13  tiempo_apertura        337998 non-null  int64
 14  fecha_nacimiento_dt    337998 non-null  object
 15  edad                   337998 non-null  int64
dtypes: float64(1), int64(6), object(9)
memory usage: 41.3+ MB

In [4]:
clientes_transacciones["fecha_nacimiento_dt"].value_counts()

fecha_nacimiento_dt
1994-01-23    2456
1994-05-19    2023
1990-11-09    1846
1998-12-26    1558
1980-09-21    1501
              ...
1995-10-07      50
1983-02-23      50
1988-01-12      42
1984-08-02      35
1986-03-31      33
Name: count, Length: 949, dtype: int64

In [5]:
clientes_transacciones["fecha_nacimiento"].value_counts()

fecha_nacimiento
23/01/1994    2456
19/05/1994    2023
09/11/1990    1846
26/12/1998    1558
21/09/1980    1501
              ...
07/10/1995      50
23/02/1983      50
12/01/1988      42
02/08/1984      35
31/03/1986      33
Name: count, Length: 949, dtype: int64

In [6]:
clientes_transacciones = clientes_transacciones.drop("fecha_nacimiento_dt", axis=1)

In [7]:
clientes_transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337998 entries, 0 to 337997
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     337998 non-null  object
 1   fecha                  337998 non-null  object
 2   comercio               337998 non-null  object
 3   giro_comercio          337998 non-null  object
 4   tipo_venta             337998 non-null  object
 5   monto                  337998 non-null  float64
 6   fecha_nacimiento       337998 non-null  object
 7   fecha_alta             337998 non-null  object
 8   id_municipio           337998 non-null  int64
 9   id_estado              337998 non-null  int64
 10  tipo_persona           337998 non-null  int64
 11  genero                 337998 non-null  int64
 12  actividad_empresarial  337998 non-null  object
 13  tiempo_apertura        337998 non-null  int64
 14  edad                   337998 non-null  int64
dtypes: float64(1), int64(6), object(8)
memory usage: 38.7+ MB

In [8]:
clientes_transacciones.head(20)

,id,fecha,comercio,giro_comercio,tipo_venta,monto,fecha_nacimiento,fecha_alta,id_municipio,id_estado,tipo_persona,genero,actividad_empresarial,tiempo_apertura,edad
0,91477f382c3cf63ab5cd9263b502109243741158,02/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,5.99,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
1,91477f382c3cf63ab5cd9263b502109243741158,05/01/2022,RAPPI,SERVICIOS_EMPRESARIALES_-_NO_CLASIFICADOS,digital,13.01,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
2,91477f382c3cf63ab5cd9263b502109243741158,05/01/2022,RAPPI,SERVICIOS_EMPRESARIALES_-_NO_CLASIFICADOS,digital,15.84,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
3,91477f382c3cf63ab5cd9263b502109243741158,05/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,8.17,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
4,91477f382c3cf63ab5cd9263b502109243741158,05/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,2.54,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
5,91477f382c3cf63ab5cd9263b502109243741158,06/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,5.20,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
6,91477f382c3cf63ab5cd9263b502109243741158,07/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,16.33,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
7,91477f382c3cf63ab5cd9263b502109243741158,11/01/2022,CFE,"SERV_GUBERNAM,_AGUA,_ELECTRICIDAD,PREDIAL,TENE...",digital,185.78,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
8,91477f382c3cf63ab5cd9263b502109243741158,13/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,13.91,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
9,91477f382c3cf63ab5cd9263b502109243741158,14/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,19.66,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
10,91477f382c3cf63ab5cd9263b502109243741158,15/01/2022,RAPPI,SERVICIOS_EMPRESARIALES_-_NO_CLASIFICADOS,digital,69.70,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
11,91477f382c3cf63ab5cd9263b502109243741158,18/01/2022,OXXO,"TIENDAS_DE_CONVENIENCIA,_MINISUPER",fisica,18.16,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
12,91477f382c3cf63ab5cd9263b502109243741158,21/01/2022,FARMACIAS_DEL_AHORRO,"DROGUERIAS,_(FARMACIAS)",fisica,173.02,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
13,91477f382c3cf63ab5cd9263b502109243741158,22/01/2022,7ELEVEN,"TIENDAS_DE_CONVENIENCIA,_MINISUPER",fisica,10.29,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
14,91477f382c3cf63ab5cd9263b502109243741158,22/01/2022,SORIANA,AUTOSERVICIOS_Y_SUPERMERCADOS,fisica,79.85,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
15,91477f382c3cf63ab5cd9263b502109243741158,23/01/2022,RAPPI,"TRASLADOS_-_FLETES,_(SERVICIOS_DE_MENSAJERIA)",digital,27.07,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
16,91477f382c3cf63ab5cd9263b502109243741158,24/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,40.45,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
17,91477f382c3cf63ab5cd9263b502109243741158,24/01/2022,RAPPI,"TRASLADOS_-_FLETES,_(SERVICIOS_DE_MENSAJERIA)",digital,120.49,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
18,91477f382c3cf63ab5cd9263b502109243741158,25/01/2022,AMAZON,COMERCIOS_ELECTRONICOS_(VTAS_POR_INTERNET),digital,17.36,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37
19,91477f382c3cf63ab5cd9263b502109243741158,25/01/2022,RAPPI,"TRASLADOS_-_FLETES,_(SERVICIOS_DE_MENSAJERIA)",digital,140.54,21/09/1987,28/10/2019,6519019,19,0,1,PROFESIONISTA INDEPENDIENTE,5,37

In [9]:
clientes_transacciones.to_csv("dataset_join.csv", index=False)