In [2]:
import pandas as pd


# Read the CSV file
clientes = pd.read_csv('../db/proccessed_db/db_clients.csv')
transacciones = pd.read_csv('../db/proccessed_db/df_transactions.csv')
# Check if all values in the 'id' column are unique

In [3]:
clientes.head()

,id,fecha_nacimiento,fecha_alta,id_municipio,id_estado,tipo_persona,genero,actividad_empresarial
0,93512ea145c3d81ba7a7ff641faf992fd307072e,1986-12-21,2018-02-11,6822014,68,Persona Fisica Con Actividad Empresarial,F,COMPRAVENTA DE ARTICULOS DE FERRETERIA
1,acb2fee5aea2d73a88359d438aaedeea731554f8,1991-02-01,2019-05-12,6115121,61,Persona Fisica Con Actividad Empresarial,M,AGENCIA DE PUBLICIDAD
2,b627227d2f20116510bcb12de34e6a188cf8d054,1994-05-23,2017-07-19,6923005,69,Persona Fisica Sin Actividad Empresarial,F,COMPRA VENTA DE ARTICULOS NO CLASIFICADOS EN O...
3,054be5f40d50b28d2b82af57159343989dd28012,1990-10-03,2017-05-21,6014120,60,Persona Fisica Sin Actividad Empresarial,M,EMPLEADO DEL SECTOR SERVICIOS
4,e7a86bf5f62bcac9ca4c7003175e5366d759b284,1962-05-19,2017-05-16,5408019,54,Persona Fisica Con Actividad Empresarial,F,EMPLEADO DEL SECTOR SERVICIOS

In [4]:
transacciones.head()

,id,fecha,comercio,giro_comercio,tipo_venta,monto
0,91477f382c3cf63ab5cd9263b502109243741158,2022-01-02,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,5.99
1,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,RAPPI,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,digital,13.01
2,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,RAPPI,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,digital,15.84
3,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,8.17
4,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,2.54

In [5]:
clientes.isna().sum()

id                       0
fecha_nacimiento         0
fecha_alta               0
id_municipio             0
id_estado                0
tipo_persona             0
genero                   0
actividad_empresarial    0
dtype: int64

In [6]:
clientes.describe()

       id_municipio   id_estado
count  9.940000e+02  994.000000
mean   6.180778e+06   61.650905
std    7.093207e+05    7.022899
min    4.701001e+06   47.000000
25%    5.509015e+06   55.000000
50%    6.115109e+06   61.000000
75%    6.519046e+06   65.000000
max    7.832056e+06   78.000000

In [7]:
transacciones.isna().sum()

id               0
fecha            0
comercio         0
giro_comercio    0
tipo_venta       0
monto            0
dtype: int64

In [9]:
transacciones["comercio"].value_counts()

comercio
UBER                    40155
AMAZON                  38321
OXXO                    29279
UBER EATS               15156
MERCADO PAGO            15033
                        ...
ATT                       205
GOOGLE AMAZON MOBILE      161
ROKU                      136
APPLE                      79
METROBUS                   44
Name: count, Length: 89, dtype: int64

In [ ]:
merged_data[merged_data["genero"] == ""]

Empty DataFrame
Columns: [id, fecha_nacimiento, fecha_alta, id_municipio, id_estado, tipo_persona, genero, actividad_empresarial, fecha, comercio, giro_comercio, tipo_venta, monto]
Index: []

In [ ]:
len(transacciones)

346011

In [ ]:
len(merged_data)

346011