In [ ]:
import pandas as pd


# Read the CSV file
clientes = pd.read_csv('../Datasets/base_clientes_final.csv')
transacciones = pd.read_csv('../Datasets/base_transacciones_final.csv')
# Check if all values in the 'id' column are unique

In [ ]:
clientes.head()

,id,fecha_nacimiento,fecha_alta,id_municipio,id_estado,tipo_persona,genero,actividad_empresarial
0,9980f12e32711330d5f58460e169e6207afda041,1984-06-19,2015-10-25,6822006,68,Persona Fisica Sin Actividad Empresarial,,EMPLEADO DEL SECTOR SERVICIOS
1,93512ea145c3d81ba7a7ff641faf992fd307072e,1986-12-21,2018-02-11,6822014,68,Persona Fisica Con Actividad Empresarial,F,COMPRAVENTA DE ARTICULOS DE FERRETERIA
2,acb2fee5aea2d73a88359d438aaedeea731554f8,1991-02-01,2019-05-12,6115121,61,Persona Fisica Con Actividad Empresarial,M,AGENCIA DE PUBLICIDAD
3,b627227d2f20116510bcb12de34e6a188cf8d054,1994-05-23,2017-07-19,6923005,69,Persona Fisica Sin Actividad Empresarial,F,COMPRA VENTA DE ARTICULOS NO CLASIFICADOS EN O...
4,054be5f40d50b28d2b82af57159343989dd28012,1990-10-03,2017-05-21,6014120,60,Persona Fisica Sin Actividad Empresarial,M,EMPLEADO DEL SECTOR SERVICIOS

In [3]:
transacciones.head()

,id,fecha,comercio,giro_comercio,tipo_venta,monto
0,91477f382c3cf63ab5cd9263b502109243741158,2022-01-02,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,5.99
1,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,RAPPI,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,digital,13.01
2,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,RAPPI,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,digital,15.84
3,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,8.17
4,91477f382c3cf63ab5cd9263b502109243741158,2022-01-05,AMAZON,COMERCIOS ELECTRONICOS (VTAS POR INTERNET),digital,2.54

In [6]:
clientes.isna().sum()

id                       0
fecha_nacimiento         0
fecha_alta               0
id_municipio             0
id_estado                0
tipo_persona             0
genero                   0
actividad_empresarial    0
dtype: int64

In [7]:
clientes.describe()

       id_municipio   id_estado
count  1.000000e+03  1000.00000
mean   6.180282e+06    61.64600
std    7.094854e+05     7.02453
min    4.701001e+06    47.00000
25%    5.509015e+06    55.00000
50%    6.115109e+06    61.00000
75%    6.519046e+06    65.00000
max    7.832056e+06    78.00000

In [5]:
transacciones.isna().sum()

id                  0
fecha               0
comercio            0
giro_comercio    5588
tipo_venta          0
monto               0
dtype: int64

In [9]:
merged_data = pd.read_csv('../Datasets/merged_dataset.csv')

In [13]:
merged_data["genero"].value_counts()

genero
M    241371
F    104220
        420
Name: count, dtype: int64

In [15]:
merged_data[merged_data["genero"] == ""]

Empty DataFrame
Columns: [id, fecha_nacimiento, fecha_alta, id_municipio, id_estado, tipo_persona, genero, actividad_empresarial, fecha, comercio, giro_comercio, tipo_venta, monto]
Index: []

In [17]:
len(transacciones)

346011

In [18]:
len(merged_data)

346011